 /* Кнопка добавить "+" */

.button {
  background: url(../images/plus.svg) no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
  background-size: auto;
  cursor: pointer;
  position: fixed;
  top: 26px;
  left: 322px;
  width: 55px;
  height: 48px;
  border-radius: 4px;
  border: none;
  background-color: #292C3F;
  /* color: white; */
  /* text-align: center; */
  /* text-decoration: none; */
  display: inline-block;
  /* font-size: 40px; */
  z-index: 1;
  overflow: hidden;
}

.button:hover {
  background: url(../images/plus_active.svg) no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
  background-size: auto;
  cursor: pointer;
  position: fixed;
  top: 26px;
  left: 322px;
  width: 55px;
  height: 48px;
  border-radius: 4px;
  border: none;
  background-color: #292C3F;
  display: inline-block;
  z-index: 1;
  overflow: hidden;z
}

 /* Кнопка "опубликовать" */

.button_publish {
  position: fixed;
  top: 26px;
  left: 1025px;
  width: 121px;
  height: 48px;
  border-radius: 4px;
  border: none;
  background-color: #D8CEEE;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  z-index: 1;
  overflow: hidden;
}

 /* Кнопки общих настроек */

.button_show {
  background: url(../images/show.svg) no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
  background-size: auto;
  cursor: pointer;
  position: fixed;
  top: 42px;
  left: 1196px;
  width: 12px;
  height: 16px;
  border: none;
  border-radius: 4px;
  background-color: #292C3F;
  display: inline-block;
  z-index: 2;
  overflow: hidden;
}

.button_show:hover {
  background: url(../images/show_active.svg) no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
  background-size: auto;
}

.button_settings {
  background: url(../images/settings.svg) no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
  background-size: auto;
  cursor: pointer;
  position: fixed;
  top: 42px;
  left: 1229px;
  width: 20px;
  height: 16px;
  border: none;
  display: inline-block;
  z-index: 2;
  overflow: hidden;
}

.button_settings:hover {
  background: url(../images/settings_active.svg) no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
  background-size: auto;
}


.button_question {
  background: url(../images/question.svg) no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
  background-size: auto;
  cursor: pointer;
  position: fixed;
  top: 42px;
  left: 1271px;
  width: 9px;
  height: 16px;
  border: none;
  display: inline-block;
  z-index: 2;
  overflow: hidden;
}

.button_question:hover {
  background: url(../images/question_active.svg) no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
  background-size: auto;
}


.button_profile {
  background: url(../images/profile.svg) no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
  background-size: auto;
  cursor: pointer;
  position: fixed;
  top: 26px;
  left: 1303px;
  width: 56px;
  height: 48px;
  border: none;
  border-radius: 4px;
  display: inline-block;
  z-index: 2;
  overflow: hidden;
}

.button_profile:hover {
  border-width: 4px;
  border-style: solid;
  border-color: #9265F4;
}

 /* Кнопки для работы с комиксом */

.button_animation {
  background: url(../images/animation.svg) no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
  background-size: auto;
  cursor: pointer;
  position: fixed;
  top: 41px;
  left: 36px;
  width: 15px;
  height: 21px;
  fill: #F1F1F1;
  border: none;
  display: inline-block;
  z-index: 2;
  overflow: hidden;
}

.button_animation:hover {
  background: url(../images/animation_active.svg) no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
  background-size: auto;
}

.button_grid {
  background: url(../images/grid.svg) no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
  background-size: auto;
  cursor: pointer;
  position: fixed;
  top: 40px;
  left: 84px;
  width: 20px;
  height: 20px;
  border: none;
  display: inline-block;
  z-index: 2;
  overflow: hidden;
}

.button_grid:hover {
  background: url(../images/grid_active.svg) no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
  background-size: auto;
}

.button_pages {
  background: url(../images/pages.svg) no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
  background-size: auto;
  cursor: pointer;
  position: fixed;
  top: 40px;
  left: 137px;
  width: 18px;
  height: 20px;
  border: none;
  display: inline-block;
  z-index: 2;
  overflow: hidden;
}

.button_pages:hover {
  background: url(../images/pages_active.svg) no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
  background-size: auto;
}

.button_layers {
  background: url(../images/layers.svg) no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
  background-size: auto;
  cursor: pointer;
  position: fixed;
  top: 40px;
  left: 188px;
  width: 21px;
  height: 20px;
  border: none;
  display: inline-block;
  z-index: 2;
  overflow: hidden;
}

.button_layers:hover {
  background: url(../images/layers_active.svg) no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
  background-size: auto;
}

.route_1 {
  position: fixed;
  top: 92px;
  left: 20px;
  background-color: #212333;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #E8E7E7;
  opacity: 0.5;
  text-align: center;
  text-decoration: none;
  border: none;
  display: inline-block;
  z-index: 3;
  overflow: hidden;
}

.route_1:hover {
    opacity: 1;
}

.route_2 {
  position: fixed;
  top: 92px;
  left: 81px;
  background-color: #212333;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #E8E7E7;
  opacity: 0.5;
  text-align: center;
  text-decoration: none;
  border: none;
  display: inline-block;
  z-index: 3;
  overflow: hidden;
}

.route_2:hover {
    opacity: 1;
}

.route_3 {
  position: fixed;
  top: 92px;
  left: 141px;
  background-color: #212333;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #00BF88;
  opacity: 1;
  text-align: center;
  text-decoration: none;
  border: none;
  display: inline-block;
  z-index: 3;
  overflow: hidden;
}
